WebServiceTest/axis-client/OprationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://impl.service.axis.frank.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://impl.service.axis.frank.com">
    <wsdl:documentation>OprationService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://impl.service.axis.frank.com">
            <xs:element name="search">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="searchResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="noSearch">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="noSearchResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="searchRequest">
        <wsdl:part name="parameters" element="ns:search"/>
    </wsdl:message>
    <wsdl:message name="searchResponse">
        <wsdl:part name="parameters" element="ns:searchResponse"/>
    </wsdl:message>
    <wsdl:message name="noSearchRequest">
        <wsdl:part name="parameters" element="ns:noSearch"/>
    </wsdl:message>
    <wsdl:message name="noSearchResponse">
        <wsdl:part name="parameters" element="ns:noSearchResponse"/>
    </wsdl:message>
    <wsdl:portType name="OprationServicePortType">
        <wsdl:operation name="search">
            <wsdl:input message="ns:searchRequest" wsaw:Action="urn:search"/>
            <wsdl:output message="ns:searchResponse" wsaw:Action="urn:searchResponse"/>
        </wsdl:operation>
        <wsdl:operation name="noSearch">
            <wsdl:input message="ns:noSearchRequest" wsaw:Action="urn:noSearch"/>
            <wsdl:output message="ns:noSearchResponse" wsaw:Action="urn:noSearchResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OprationServiceSoap11Binding" type="ns:OprationServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="search">
            <soap:operation soapAction="urn:search" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="noSearch">
            <soap:operation soapAction="urn:noSearch" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="OprationServiceSoap12Binding" type="ns:OprationServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="search">
            <soap12:operation soapAction="urn:search" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="noSearch">
            <soap12:operation soapAction="urn:noSearch" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="OprationServiceHttpBinding" type="ns:OprationServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="search">
            <http:operation location="search"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="noSearch">
            <http:operation location="noSearch"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OprationService">
        <wsdl:port name="OprationServiceHttpSoap11Endpoint" binding="ns:OprationServiceSoap11Binding">
            <soap:address location="http://localhost:8099/rack/services/OprationService.OprationServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="OprationServiceHttpSoap12Endpoint" binding="ns:OprationServiceSoap12Binding">
            <soap12:address location="http://localhost:8099/rack/services/OprationService.OprationServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="OprationServiceHttpEndpoint" binding="ns:OprationServiceHttpBinding">
            <http:address location="http://localhost:8099/rack/services/OprationService.OprationServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>